:root {
  --primary: #396dff;
  --grey: #f7f7f7;
  --white: #fff;
  --bgcolor: #ffffff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

.websitetitle {
	align-items: center;
  font-size: 64px;
  color: #00CCCC;
}

body {
  margin: 40px;
  background-color: var(--bgcolor);
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #2b2b2b;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--bgcolor);
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #dddddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #00CCCC;
  color: black;
}

.topnavemail {
  float: right;
  color: #00CCCC;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 16px;
}

.profilephoto {
  float: left;
  margin: 10px;
}

.abouttext {
  text-align: justify;
}

.classes {
  display: none;
}

button.classes_button {
  background: none;
  border: none;
  font-family: "Times New Roman";
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

summary {
  background: none;
  border: none;
  font-family: "Times New Roman";
  font-size: 24px;
  font-weight: bold;
}